@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import "_variables.scss";
@import "_mixins.scss";
@import "_footer.scss";
@import "_loader.scss";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
}
.main-container {
    width: 100%;
    max-width: 1440px;
}

::placeholder {
    color: $gray-dark;
}

// header

.navbar {
    width: 100%;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 63px;
        
        img {
            height: 44px;
            width: 162px;
        }
    }
}

// Formulaire de recherche

.location__position {
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #eaeaea;
    box-shadow: inset 0 4px 5px rgba(168, 170, 168, 0.4), 0 4px 5px rgba(153, 153, 153, 0.688);
    width: 100%;
    height: 50px;
    padding: 10px 0;
    z-index: 2;
    position: relative;

    .position {
        display: flex;
        align-items: center;
        font-size: 20px;
        color: $gray-dark;
    }

    .search-input {
        background-color: #eaeaea;
        color: $gray-dark;
        font-size: 16px;
        font-family: $font-primary;
        font-weight: 500;
        border: none;
        outline: none;
        text-align: center
    }
}

.reservation {
    @include flex-column;
    align-items: center;
    justify-content: center;
    background-color: $gray-light;
    height: 300px;
    width: 100%;
    z-index: 1;
    position: relative;
  
    h1 {
        font-size: 24px;
        font-family: $font-primary;
        text-align: center;
        margin: 0 30px;
    }

    h2 {
        font-size: 18px;
        font-family: $font-primary;
        font-weight: 300;
        color: $gray-dark;
        text-align: center;
        margin: 20px 30px;
    }

    // button pink
  
    button.btn {
        width: 218px;
        height: 50px;
        background-image: linear-gradient($pink-btn, $purple);
        margin-top: 10px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        font-family: $font-primary;
        font-size: 16px;
        font-weight: 500;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
            border-radius: 25px;
        }

        &:hover::after {
            opacity: 1;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

    // Section fonctionnement

.fonctionnement {
    @include flex-column;
    gap: 30px;
    height: auto;
    margin-bottom: 50px;
    padding: 1rem;

    h2 {
        padding: 2rem 1rem 0 1rem;
        font-family: $font-primary;
        font-weight: 700;
        font-size: 24px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__box {
        @include flex-column;
        align-items: center;
        gap: 25px;
    }

    &__group {
        display: flex;
        align-items: center;
        width: 100%;
    }
        
    &__ball {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 24px;
        width: 24px;
        border-radius: 20px;
        background-color: $purple;
        font-size: 14px;
        font-family: $font-primary;
        font-weight: 500;
        color: white;
        position: relative;
        left: 13px;
    }

    &__btn {
        height: 72px;
        width: 100%;
        background-color: $gray-light;
        border: none;
        border-radius: 20px;
        box-shadow: 0 10px 10px -4px rgba(183, 183, 183, 0.397);
        cursor: pointer;

        &-txt {
            @include flex-row;
            justify-content: space-evenly;
            font-family: $font-primary;
            font-size: 16px;
            font-weight: 500;

            i {
                color: #7E7E7E;

                &:hover, &:focus {
                    color: $purple;
                }
            }
        }
    }
}          

    // Section restaurants - cards

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: $gray-light;
    width: 100%;
    padding-bottom: 70px;
    padding: 2rem;
    
    h2 {
        font-family: $font-primary;
        font-size: 24px;
        font-weight: 700;
    }
    
    &__box {
        @include flex-column;
        align-items: center;
        gap: 18px;
        width: 100%;

        .card {
            @include flex-column;
            position: relative;
            z-index: 1;
            width: 100%;

            &__link {
                text-decoration: none;
                width: 100%;

                &-sticker {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 80px;
                    height: 29px;
                    border-radius: 2px;
                    background-color: #99E2D0;
                    font-family: $font-primary;
                    font-weight: 500;
                    font-size: 14px;
                    color: #008766;
                    position: absolute;
                    right: 30px;
                    top: 15px;
                    z-index: 2;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                }

                &-sticker:hover {
                    box-shadow: 10px 10px 8px #405d56a1;
                    transform: translateY(-5px);
                }
            }

            img {
                width: 100%;
                height: 170px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
                position: relative;
                display: block;
                z-index: 1;
            }

            .content {
                @include flex-column;
                padding: 20px;
                gap: 5px;
                background-color: white;
                width: 100%;
                height: 80px;
                border-radius: 0 0 15px 15px;

                &__title {
                    font-family: $font-primary;
                    color: black;
                    font-size: 18px;
                }

                &__subtitle {
                        color: black;
                        font-family: $font-primary;
                }
            }

            .heart-btn {
                margin-right: 10px;
                width: 1.875rem;
                height: 1.875rem;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                background: transparent;
                position: absolute;
                bottom: 20px;
                right: 15px;;
                z-index: 2;
            }
                .heart-btn::before {
                content: "\f004";
                    font-family: "Font Awesome 5 Free";
                    position: absolute;
                    transition: all 0.8s ease-in-out;
                    font-size: x-large;
            }
                .heart-btn::after {
                content: "\f004";
                    font-family: "Font Awesome 5 Free";
                    position: absolute;
                    transition: all 0.3s ease-in-out;
                    background: linear-gradient(to bottom, #ff79da, #9356dc 80%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: transparent;
                    opacity: 0;
                    font-weight: 600;
                    font-size: x-large;
                    cursor: pointer;
            }
                .heart-btn:hover::after {
                    opacity: 1;
            }
        }
    }
}

// DEKSTOP

@media (min-width: 768px) {

    .navbar {
        img {
            height: 34px;
            width: 200px;
        }
    }
    .reservation {
        height: 228px;

        h1 {
            font-size: 40px;
        }
    }

    .fonctionnement {
        margin: 0;
        padding: 3rem 9rem;

        h2 {
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-self: flex-start;
            flex-wrap: wrap;
        }

        &__container {
            flex-direction: row;
            justify-content: center;
            gap: 0;
        }

        &__box {
            @include flex-row;
            justify-content: center;
            align-items: center;
            gap: 25px;
            width: 100%;
        }

        &__btn {
            width: 100%; 

            &-txt {
                padding: 0 20px 0 20px;
            }
        }
    }

    .restaurants {
        @include flex-column;
            gap: 28px;
            padding: 3rem 9rem;

        h2 {
            padding: 0;
        }

        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto;
            gap: 50px;
            .card {
                &__link {
                    width: 100%;
                }
            }
        }
    }
}